@font-face{
	src:url("../fonts/Mitra.ttf");
	font-family:mitra;
}

@font-face{
	src:url("../fonts/Lalezar-Regular.ttf");
	font-family:lale;
}

body{
	direction:rtl;
}

ul{
	border:1px solid #ccc;
	margin:100px auto;
	padding:7px;
	list-style:none;
	width:400px;
	font-family:lale;
	
	border-radius:5px;
	box-shadow:0 0 10px 1px hotpink;
	background:pink;
}

ul > li{
	background:#fff;
	color:#555;
	padding:10px;
	margin-bottom:5px;
}

ul > li:last-child{
	margin:0;
}

ul > li > input{
	display:none;
}

ul > li > input:checked ~ label{
	background-color:lightblue;
}

ul > li > input:checked ~ .content{
	height:100px;
	margin-top:10px;
}

ul > li > label{
	background:url("../img/key.png") #777 no-repeat 93% 50%;
	background-size:20% auto;
	
	padding:3px 40px 3px 10px;
	border-radius:3px;
	color:orange;
	
	cursor:pointer;
}

ul > li > .content{
	transition:.3s;
	height:0px;
	overflow:hidden;
}

ul > li > .content > a:hover{
	background:hotpink;
	border-right:5px solid orange;
}

ul > li > .content > a{
	display:block;
	font-family:mitra;
	background:lightblue;
	text-align:center;
	color:#555;
	cursor:pointer;
	
	margin-top:2px;
	padding:5px;
	
	text-decoration:none;
}

@keyframes height{
	0%{height:0}
	100%{height:100px}
}

@keyframes reheight{
	0%{height:100px}
	100%{height:0px}
}











