input:checked ~ #slider{
	border:1px solid purple;
	width:500px;
	height:270px;
	margin:100px auto;
	overflow:hidden;
	position:relative;
}

input:checked ~ #slider #accardion{
	transition-property:top;
	transition-duration:.5s;
	height:500%;
	width:100%;	
	margin:0 auto;
	box-sizing:border-box;
	position:absolute;
	top:0;
	padding:0 10px;
}

input:checked ~ #slider #accardion li{
	width:100%;
	height:20%;
	box-sizing:border-box;
	margin:0;
}

input:checked ~ #slider #accardion li label{
	background-color:lightblue;
}

input:checked ~ #slider #accardion li .content{
	height:100%;
	margin-top:50px;
	transition:0s;
}

input:checked ~ #slider > #top{
	width:100px;
	height:50px;
	background:purple;
	position:absolute;
	top:0px;
	left:50%;
	transform:translateX(-50%);
	cursor:pointer;
	opacity:.5;
}

input:checked ~ #slider > #top > div{
	position:absolute;
	bottom:40%;
	left:30%;
	border-bottom:20px solid hotpink;
	border-left:20px solid transparent;
	border-right:20px solid transparent;
}

input:checked ~ #slider > #bot{
	width:100px;
	height:50px;
	background:purple;
	position:absolute;
	bottom:0px;
	left:50%;
	transform:translateX(-50%);
	cursor:pointer;
	opacity:.5;
}

input:checked ~ #slider > #bot > div{
	position:absolute;
	top:40%;
	left:30%;
	border-top:20px solid hotpink;
	border-left:20px solid transparent;
	border-right:20px solid transparent;
}

#change{
	width:70px;
	height:50px;
	background:purple;
	color:#fff;
	position:absolute;
	left:30px;
	font-family:lale;
	text-align:center;
	line-height:50px;
	cursor:pointer;
	box-shadow:0 0 10px 1px hotpink;
}

#change:hover{
	background:hotpink;
}

#avaz{
	display:none;
}





